.companie-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
.button-edit{
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 3px 3px 3px 3px;
    border: 1px solid grey;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button-delete{
    width: 100px;
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 3px 3px 3px 3px;
    border: 1px solid grey;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}